* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    background-image: url(./assets/img/dj.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(4px);
    position: relative;
    z-index: 1;
    transition: .3s;
}

.player {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    padding: 20px;
    min-width: 20vw;
    min-height: 60vh;
    background: rgb(37, 41, 88,0.7);
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 2%;
    box-shadow: 
    0 0 10px rgb(128,128,128, 0.7),
    0 0 10px rgb(128,128,128, 0.7),
    0 0 10px rgb(128,128,128, 0.7);
}


.player-bg {
    min-height: 30vh;
    background-image: url(./assets/img/dj.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px 400px;
    transition: .3s;
}

.player-controls, .player-title {
    min-height: 5vh;
    text-align: center;
    transition: .3s;
}

.play-btn {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url(./assets/svg/play.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.pause {
    background-image: url(./assets/svg/pause.svg);
}

.play-prev {
    width: 50px;
    height: 50px;
    background-size: 40px 40px;
    background-image: url(./assets/svg/play-prev.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.play-next {
    width: 50px;
    height: 50px;
    background-size: 40px 40px;
    background-image: url(./assets/svg/play-next.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.current-time, .duration-time {
    color: #FFF;
    font-size: 24px;
    transition: .3s;
}

.progress-bar {
    background-color: #FFF;
    opacity: 1;
    border-radius: 10px;
    width: 80%;
    height: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;    
    margin: 0 auto;
}

.progress {
    background-color: black;
    border-radius: 10px;
    height: 12px;
    margin: 0 2px;
  }

 .sound-on {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url(./assets/svg/on.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.sound-off {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url(./assets/svg/off.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

  .volume-bar {
    width: 150px;
    height: 12px;
    background: #FFF;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .progress-volume {
    background: #000;
    border-radius: 10px;
    height: 10px;
    margin: 1px;
  }

  .volume {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }


.pic {
    width: 100px;
}


.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 0 20px;
}

.footer__year,
.footer__course a,
.footer__name a {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
}
